{% extends "layout.html" %}
{% block body %}
<h3>Hakkımızda</h3>
<hr>
<br><br>
<h5>TÜRKİYE CUMHURİYETİ'NİN KURUCUSU VE İLK CUMHURBAŞKANI ATATÜRK</h5>
<p>Mustafa Kemal Atatürk 1881 yılında Selânik'te Kocakasım Mahallesi, 
    Islâhhâne Caddesi'ndeki üç katlı pembe evde doğdu. 
    Babası Ali Rıza Efendi, annesi Zübeyde Hanım'dır. 
    Baba tarafından dedesi Hafız Ahmet Efendi XIV-XV. 
    yüzyıllarda Konya ve Aydın'dan Makedonya'ya yerleştirilmiş Kocacık Yörüklerindendir. 
    Annesi Zübeyde Hanım ise  Selânik yakınlarındaki Langaza kasabasına yerleşmiş eski bir Türk ailesinin kızıdır. 
    Milis subaylığı, evkaf katipliği ve kereste ticareti yapan Ali Rıza Efendi, 
    1871 yılında Zübeyde Hanım'la evlendi. Atatürk'ün beş kardeşinden dördü küçük yaşlarda öldü, 
    sadece Makbule (Atadan) 1956 yılına değin yaşadı.</p>

{% endblock body %}